RewriteEngine On
RewriteCond %{HTTP_HOST} ^profguide\.teenjob\.by$
RewriteRule ^(.*)$ https://devprofguide.teenjob.by%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://devprofguide.teenjob.by%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
