.page_start-course {

    padding-bottom: 80px;
    margin-bottom: 0px;

    position: relative;
    box-sizing: border-box;

    .section__primary {
        padding-bottom: 0;
        margin-bottom: 0;

        h2 {
            //margin-top: 26px;
            color: $bg-color;

        }

        .text-block {
            margin-top: 40px;
            color: $bg-color;
            font-style: normal;
            font-size: 20px;
            line-height: 27px;
            font-family: $primary-font, sans-serif;

            li {
                padding-bottom: 12px;
            }
        }
    }

    .section__secondary {
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 80px;

        h2 {
            //margin-top: 26px;
            color: #333333;
        }

        .text-block {
            margin-top: 40px;
            color: #333333;
            font-style: normal;
            font-size: 20px;
            line-height: 27px;
            font-family: $primary-font, sans-serif;




            li {
                padding-bottom: 12px;
                position: relative;
            }


        }
    }



    .text_first {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        max-width: 550px;
        .list-head {
            margin-bottom: 0;
            padding-bottom: 12px;
        }

        padding-bottom: 120px;
    }

    .text_second {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-inline-start: 16px;

            li {
                padding-left: 25px;
            }

            li::before {
                content: url(/images/check-mark.svg);
                position: absolute;
                width: 28px;
                height: 28px;
                left: -14px;
            }
        }


        max-width: 550px;
        .list-head {
            margin-bottom: 0;
            padding-bottom: 12px;
        }
        padding-bottom: 180px;
        margin-left: auto;
    }


    .social-share {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .mountains {
        left:auto;
        right: -30px;
        bottom: -75px;
    }

    .mountains-c {
        right:auto;
        left: -20px;
        bottom: -75px;
    }

    .girl {
        right: 60px;
        bottom: -50px;
    }

    .cup {
        bottom: 100px;
        right: 200px;
        left: auto;
    }

    .ball {
        bottom: 70px;
        right: 150px;
        left: auto;
    }

    .book {
        bottom: 120px;
        right: 80px;
    }

    .bag {
        bottom: 75px;
        right: 15px;
    }

    .section_third {

        padding-top: 80px;

        .boy {
            position: unset;
            float: right;
            margin-top: 40px;
            height: 40vw;
            width: 15%;
            transform: scale(-1, 1);
        }

        .text_third {
            float: left;
            font-size: 20px;
            line-height: 27px;
            max-width: 680px;
            width: 85%;
            list-style: none;
            padding-inline-start: 16px;

            li {
                padding-bottom: 12px;
            }

            li {
                padding-left: 25px;
                position: relative;
            }

            li::before {
                content: url(/images/check-mark-w.svg);
                position: absolute;
                width: 28px;
                height: 28px;
                left: -14px;
                top: 4px;
            }
        }

        .subheader {
            font-family: $primary-font, sans-serif;
            font-style: normal;
            font-weight: 600;
            float: left;
            max-width: 660px;
            text-align: left;
            margin-top: 16px;
            margin-bottom: 56px;
            font-size: 20px;
            line-height: 27px;
        }
        .button {
            float: unset;
            margin-top: 60px;
            margin-bottom: 80px;
            max-width: 328px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }

    .section_four {
        padding-top: 80px;
        .girl {
            position: unset;
            float: unset;
            margin-top: 16px;
            margin-bottom: 23px;
            background-size: contain;
            margin-left: auto;
            margin-right: auto;
            height: 216px;
            width: 100px;
            transform: scale(-1, 1);
        }

        .text_four {
            float: unset;
            max-width: 780px;
        }
    }
}

@media all and (min-width: 1024px){
    .section__secondary {
        padding-top: 80px;
    }
    .section_third {
        padding-top: 80px;
    }

    .page_start-course {
        padding-bottom: 80px;
        margin-bottom: 0px;

        .text_first {

            padding-bottom: 80px;
        }

        .section_third {

            padding-top: 80px;

            .boy {
                position: unset;
                float: right;
                margin-top: 40px;
                transform: scale(-1, 1);
                width: 106px;
                height: 320px;
            }

            .text_third {
                float: left;
                font-size: 20px;
                line-height: 27px;
                width: 100%;
            }

            .subheader {
                font-family: $primary-font, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 38px;
                float: left;
                max-width: 660px;
                text-align: left;
                margin-top: 80px;
                margin-bottom: 80px;
            }

            .button {
                float: right;
                margin-top: 110px;
                margin-bottom: 0;
                max-width: 280px;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .section_four {

           .girl {
               position: unset;
               float: left;
               transform: scale(-1, 1);
               margin: 0;
               background-size: contain;
               width: 142px;
               height: 313px;
           }

            .text_four {
                float: right;
                max-width: 780px;
            }
        }

        .mountains {

            right: -60px;
            bottom: -200px;
        }

        .mountains-c {
            left:-60px;
            right: auto;
        }

        .girl {
            right: 190px;
            bottom: -100px;
        }

        .cup {
            bottom: 100px;
            right: 600px;
            left: auto;
        }

        .ball {
            bottom: 20px;
            right: 500px;
            left: auto;
        }

        .book {
            bottom: 120px;
            right: 391px;
        }

        .bag {
            bottom: 25px;
            right: 233px;
        }
    }

    .social-share {
        margin-top: 50px;
        margin-left: 0;
        margin-right: auto;
    }

    .text_first {
        padding-bottom: 68px;

        p {
            margin-top: 1.5em;
            margin-bottom: 0;
        }
    }

    .text_second {
        padding-bottom: 225px;
    }

    .text_third {
        max-width: 680px;
        padding-inline-start: 40px;
    }
}
