.textarea {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    max-width: 900px;

    background: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    padding: 20px 30px;
    outline: none;

    &::placeholder {
        color: #B0B0B0;
    }
}
@media all and (min-width: 1024px) {
    .textarea {
        font-size: 20px;
        line-height: 24px;
    }
}

